:host {
	--clr-accent: #f90;
	--clr-light: #aaa;
	--clr-dark: #333;
}

.sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.no-user-select {
	user-select: none;
}

#dialog-button {
	all: unset;

	position: relative;
	min-width: 12rem;

	margin: 0;
	padding: 0;

	font-size: 0.875rem;
	line-height: 1.5rem;
	text-align: left;

	overflow: hidden;
	border-radius: 0.25em;
	border: 1px solid var(--clr-light);

	background-color: #1a1a1a;
	transition: none;
}

#dialog-button span {
	display: inline-block;
	height: 100%;
	padding: 0 0.25em;
	user-select: none;
}

#dialog-button span:nth-of-type(1) {
	padding-right: 0.5em;
}

#dialog-button span:nth-of-type(2) {
	float: right;
	background: var(--clr-dark);
	border-left: 1px solid var(--clr-light);

	transition: background-color 0.25s;
}

#dialog-button:hover span:nth-of-type(2) {
	background-color: var(--clr-accent);
}

#dialog-button svg {
	position: relative;
	height: 1rem;
	top: 0.125rem;
}