:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0.325em;
}

h2 {
  margin: 1.5em 0 0.5em;
}

p {
  margin-bottom: 0.5rem;
}

main {
  width: 100%;
  max-width: 640px;
  padding: 1.5rem 0;
}

section {
  position: relative;
  margin: 0.5em 0 1em;
}
article {
  position: relative;
  padding: 0.5em 0 2.5em;
}

article > div {
  max-width: 100%;
}

article.flex-1-2,
article.flex-2-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

article.flex-2-1 > div:nth-of-type(1),
article.flex-1-2 > div:nth-of-type(2) {
  flex: 2 1;
  min-width: 280px;
}

article.flex-2-1 > div:nth-of-type(2),
article.flex-1-2 > div:nth-of-type(1) {
  flex: 1 1;
  min-width: 120px;
}

article.flex-2-1 > div.min-content,
article.flex-1-2 > div.min-content {
  flex: 0 0 min-content;
}


article pre {
  width: 100%;
  margin: 0;
  overflow-x: auto;
}

article code {
  display: inline-block;
  margin-bottom: 0.25em;
}

article pre,
article code {
  padding: 0.325rem 0.5rem;
  border: 1px solid #fff3;
  border-radius: 0.125em;
  background-color: #0003;
}

/* ui-number {
  --item-height: 3rem;
} */

button {
  border-radius: 0.25rem;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  /* transition: border-color 0.25s; */
}

/*
button:hover {
  border-color: #646cff;
}
*/
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}