.spinner {
	height: 6em;
	line-height: 2em;

	padding: 0 0.375em;
	overflow: visible scroll;

	color: #a0a0a0;
	font-weight: 400;
	text-align: center;

	cursor: grab;
}
.spinner.default {
	display: inline-block;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 1em;

	border: 1px solid #aaa;
	border-radius: 0.25em;
	background: #1a1a1a;
}


.spinners-wrap {
	display: flex;
	width: min-content;
	height: 100%;
	margin: 0 auto;
}

.spinner:not(.default) {
	flex: 1 1 min-content;
	/* font-size: 1.25em; */
}

.spinners-wrap > div.divider {
	flex: 1 1 min-content;
	/* max-width: 0.25em; */
	padding: 2em 0;

	color: #b4b4b4;
	font-weight: bold;
	text-align: center;
}

/* spinner and divider */
.spinner.year {
	/* border-right: var(--border); */
	padding-right: 0.75em;
}

.spinner.hour {
	position: relative;
	padding-left: 0.75em;
}

/* hide scrollbar */
.spinner {
	scrollbar-width: none;
}
.spinner::-webkit-scrollbar {
  display: none;
}

.spinner p {
	user-select: none;
	text-align: center;
}

.spinner p.deactivated {
	display: none;
}

.spinner p.current {
	color: #ddd;
	font-weight: bold;
}