:host {
	--bg: #333 linear-gradient(
		#0000 35%,
		#0004 100%
	);
	--border: 1px solid #666;
	--border-radius: 0.25em;
}

#wrapper {
	box-sizing: border-box;
	position: relative;
	overflow: hidden;

	width: clamp(280px, 100%, 420px);
	margin: 0 auto;
	padding: 0.25em;

	border: var(--border);
	border-radius: var(--border-radius);
	background: var(--bg);

	font-size: 1rem;
	text-align: center;
	user-select: none;
}

.cal-head,
.cal-wrap {
	position: relative;
	width: 100%;
}

.cal-head,
.cal-body {
	display: grid;
	grid-template-columns: 7.25% repeat(7, 13.25%);
}

.cal-body,
.cal-body#pseudo {
	width: 100%;
	top: 0;
	left: 0;
}
.cal-body#pseudo {
	position: absolute;
}

.cal-head span,
.cal-body span {
	margin: 0.125em;
}

.cal-head span,
.cal-body span.cal-cell-head {
	color: #d0d0d0;
	font-size: 0.625em;
	letter-spacing: 1px;
}

.cal-body span:not(.cal-cell-head) {
	cursor: pointer;
	border-radius: 0.125em;
	outline: 1px solid transparent;
	transition: background-color 0.3s ease-in-out, outline-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cal-body span:not(.cal-cell-head):hover {
	outline: var(--border);
}

.cal-body span.current {
	color: #ffffffff;
	/* font-weight: bold; */
	background-color: #404040;
	outline: var(--border);
}
.cal-body span.sunday {
	color: #a44;
}
.cal-body span.deactivated {
	opacity: 0.4;
}

