.no-select {
	user-select: none;
}

.no-scroll {
	overflow: hidden;
	height: 99dvh;
}
.no-scroll-bar {
	padding-right: 2em;
}

dialog {
	--border-radius: 0.75rem;
	--border: 1px solid #666;

	position: fixed;

	/* necessary to calculate dimensions */
	display: block;

	/* hide dialog */
	z-index: -1;
	visibility: hidden;

	width: clamp(320px, 100%, 480px);
	height: 100%;
	overflow: visible;

	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	font-size: 1rem;

	border: none;
	background-color: transparent;
}

dialog[open] {
	z-index: 1;
	visibility: visible;
}

dialog[open]::backdrop {
	background-color: #0008;
	backdrop-filter: blur(0.1rem);
}

form {
	display: flex;
	justify-content: center;
	flex-direction: column;

	width: 100%;
	height: 100%;
}

fieldset {
	position: relative;
	width: 100%;
	min-width: 320px;
	margin-left: 50%;
	transform: translateX(-50%);

	border: var(--border);

	overflow: hidden;
}

#selector::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;

	background: linear-gradient(
		#0006 0%,
		#0000 25%,
		#0000 75%,
		#0006 100%
	);
}

#selector {
	height: 6em;
	z-index: 1;

	font-size: 1.5em;
	line-height: 2em;

	border-radius: var(--border-radius) var(--border-radius) 0 0;
	background: #242424;
}

#calendar {
	font-size: 0.875em;

	border-top: none;
	border-bottom: none;
	background-color: #333;
}

#buttons {
	display: flex;
	border-radius: 0 0 var(--border-radius) var(--border-radius) ;
	background-color: #333;
}

#buttons button {
	flex: 1;
	font-size: 1.25rem;
	line-height: 1.5em;
	border-radius: 0;
	color: #b0b0b0;
	background-color: transparent;
	transition: color 0.3s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}

#buttons button:hover {
	color: #fff;
	background-color: #404040;
	box-shadow: inset 0 0 4px 0 #0009;
}

.spinners-wrap {
	display: flex;
	width: min-content;
	height: 100%;
	margin: 0 auto;
}

.spinner {
	flex: 1 1 min-content;
	height: 100%;
	padding: 0 0.375em;
	overflow: visible scroll;

	color: #a0a0a0;
	font-weight: 400;
	text-align: center;

	cursor: grab;
}

.spinners-wrap > div.divider {
	flex: 1 1 min-content;
	/* max-width: 0.25em; */
	padding: 2em 0;

	color: #b4b4b4;
	font-weight: bold;
	text-align: center;
}

/* spinner and divider */
.spinner.year {
	/* border-right: var(--border); */
	padding-right: 0.75em;
}

.spinner.hour {
	position: relative;
	padding-left: 0.75em;
}

/* hide scrollbar */
.spinner {
	scrollbar-width: none;
}
.spinner::-webkit-scrollbar {
  display: none;
}

.spinner p {
	user-select: none;
	text-align: center;
}

.spinner p.deactivated {
	display: none;
}

.spinner p.current {
	color: #ddd;
	font-weight: bold;
}


