:root {
  --gap: 0.5em;
  --clr-highlight: #72788f;
}

.no-scroll {
	overflow: hidden;
	height: 99dvh;
}
.no-scroll-bar {
	padding-right: 2em;
}

dialog {
	position: fixed;

	/* necessary to calculate dimensions */
	display: block;

	/* hide dialog */
	z-index: -1;
	visibility: hidden;

	width: 100%;
	height: 100%;
	max-width: 320px;
	margin: auto;
	padding: 0;
	top: 0;
	left: 0;

	font-size: 1rem;

	border: none;
	background-color: transparent;
}

dialog[open] {
	z-index: 1;
	visibility: visible;
}

dialog::backdrop {
	background-color: #0008;
	backdrop-filter: blur(0.1rem);
}

/*
dialog::backdrop {
	transition: background-color 1s;
}
dialog:not([open])::backdrop {
	background-color: transparent;
	backdrop-filter: blur(0px);
}
*/

dialog form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	padding: 0 1em;
}

dialog form fieldset {
	background: #242424;
	border-radius: 0.5em;
	border: 1px solid #666;
	/* box-shadow: 0 0em 0.5em 0.25em #0003; */

	overflow: hidden;
}

.spinners-wrap {
	position: relative;
	z-index: 1;

	display: flex;
	width: 100%;
	height: 6em;
	/* padding: 0 0.5rem; */

	font-size: 1.5em;
	line-height: 2em;
	border-bottom: 1px solid #666;
}

.spinners-wrap::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;

	background: linear-gradient(
		#0006 0%,
		#0000 25%,
		#0000 75%,
		#0006 100%
	);
}


.spinner {
	flex: 1;
	height: 100%;
	overflow: hidden scroll;

	color: #b4b4b4;
	font-weight: 400;

	border-right: 1px solid #666;
}
.spinner:last-of-type {
	border-right: none;
}

.spinners-wrap.spinner-date-time .year {
	padding: 0 1rem;
}

/* .spinners-wrap.spinner-date-time .spinner:not(.year) {
	flex: 1 1 10%;
} */

/* hide scrollbar */
.spinner {
	scrollbar-width: none;
}
.spinner::-webkit-scrollbar {
  display: none;
}

.spinner p {
	text-align: center;
}
.spinner p.current {
	color: #ddd;
	font-weight: bold;
}
.spinner p.deactivated {
	display: none;
}

.buttons-wrap {
	width: 100%;
	display: flex;
}
.buttons-wrap button {
	flex: 1;
	border-radius: 0;
	background-color: #333;

	transition: background-color 0.3s;
}
.buttons-wrap button:hover {
	background-color: var(--clr-highlight);
}
